# Analysis of School Shootings
Kayla Fortson and Torri Green

[Website Link](https://kaylafortson.github.io)

# Project Goals

COMPLETE ME

# Collaboration Plan 

The plan for our project is to meet in person once a week. In the meantime, progress can be made on our project virtually by using Google colab to work together as well as a shared Github repository.

# Project Dataset

The dataset we have chosen is School Shootings since Columbine. This data set features data collected by The Washington Post. This data is collected through multiple sources such as: Nexis, news articles, open-source databases, law enforcement reports, information from school websites, and calls to schools and police departments. In order for the shooting to have been included in this database it must have taken place on campus immediately before, during, or right after classes took place. This database excludes colleges and universities. This dataset is critical because it involves the loss of innocent lives and can give us insightful knowledge to bring awareness to this unimaginable terror. We would like to examine the frequencies, demographics, and trends of this data. The data set includes information such as the school name, district ID and name, date and time of shooting, location, school type, enrollment, count of victims, and information about the shooter and their weapon. Further information of this data set can be found [here](https://github.com/washingtonpost/data-school-shootings.git)

In [108]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [109]:
shootings_df = pd.read_csv('https://raw.githubusercontent.com/washingtonpost/data-school-shootings/master/school-shootings-data.csv', encoding='ISO-8859-1')
shootings_df = shootings_df.set_index('uid').sort_index()

In [110]:
shootings_df.head()

,nces_school_id,school_name,nces_district_id,district_name,date,school_year,year,time,day_of_week,city,state,school_type,enrollment,killed,injured,casualties,shooting_type,age_shooter1,gender_shooter1,race_ethnicity_shooter1,shooter_relationship1,shooter_deceased1,deceased_notes1,age_shooter2,gender_shooter2,race_ethnicity_shooter2,shooter_relationship2,shooter_deceased2,deceased_notes2,white,black,hispanic,asian,american_indian_alaska_native,hawaiian_native_pacific_islander,two_or_more,resource_officer,weapon,weapon_source,lat,long,staffing,low_grade,high_grade,lunch,county,state_fips,county_fips,ulocale
uid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,080480000707,Columbine High School,804800.0,Jefferson County R-1,4/20/1999,1998-1999,1999,11:19 AM,Tuesday,Littleton,Colorado,public,1965,13,21,34,indiscriminate,18.0,m,w,student,1.0,suicide,17.0,m,w,student,1.0,suicide,1783.0,16.0,112.0,42.0,12.0,NaN,NaN,1,12-gauge Savage-Springfield 67H pump-action sh...,purchased from friends,39.603910,-105.075000,89.6,9,12,41.0,Jefferson County,8,8059,21.0
2,220054000422,Scotlandville Middle School,2200540.0,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,12:30 PM,Thursday,Baton Rouge,Louisiana,public,588,0,1,1,targeted,14.0,m,NaN,former student (expelled),0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,583.0,0.0,0.0,0.0,NaN,NaN,0,.22 caliber pistol,NaN,30.529958,-91.169966,39.0,6,8,495.0,East Baton Rouge Parish,22,22033,12.0
3,130441001591,Heritage High School,1304410.0,Rockdale County,5/20/1999,1998-1999,1999,8:03 AM,Thursday,Conyers,Georgia,public,1369,0,6,6,indiscriminate,15.0,m,w,student,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1189.0,136.0,28.0,15.0,1.0,NaN,NaN,1,".22 caliber rifle, 357-caliber Magnum handgun",NaN,33.626922,-84.047960,84.0,9,12,125.0,Rockdale County,13,13247,21.0
4,421899003847,John Bartram High School,4218990.0,Philadelphia City SD,10/4/1999,1999-2000,1999,10:00 AM,Monday,Philadelphia,Pennsylvania,public,3147,0,1,1,targeted,17.0,m,NaN,student,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209.0,2736.0,27.0,170.0,5.0,NaN,NaN,1,RG .25-caliber pistol,purchased from friend,39.921509,-75.234108,41.0,9,12,2007.0,Philadelphia County,42,42101,11.0
5,250279000225,Dorchester High School,2502790.0,Boston,11/3/1999,1999-2000,1999,7:40 AM,Wednesday,Boston,Massachusetts,public,1116,0,1,1,targeted,NaN,m,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,755.0,287.0,29.0,5.0,NaN,NaN,0,NaN,NaN,42.285268,-71.075901,NaN,9,12,543.0,Suffolk County,25,25025,11.0

This table includes a ton of data but some of the columns are unnecessary for our analysis. For example, we won't be working with the latitude and longitude of the schools so we can drop this column.

In [111]:
shootings_df.drop(columns = ['nces_school_id', 'nces_district_id', 'lat', 'long', 'state_fips', 'county_fips'], inplace=True)

We also want to check the dtypes so we can make corrections.

In [112]:
 shootings_df.dtypes

school_name                          object
district_name                        object
date                                 object
school_year                          object
year                                  int64
time                                 object
day_of_week                          object
city                                 object
state                                object
school_type                          object
enrollment                            int64
killed                                int64
injured                               int64
casualties                            int64
shooting_type                        object
age_shooter1                        float64
gender_shooter1                      object
race_ethnicity_shooter1              object
shooter_relationship1                object
shooter_deceased1                   float64
deceased_notes1                      object
age_shooter2                        float64
gender_shooter2                      object
race_ethnicity_shooter2              object
shooter_relationship2                object
shooter_deceased2                   float64
deceased_notes2                      object
white                               float64
black                               float64
hispanic                            float64
asian                               float64
american_indian_alaska_native       float64
hawaiian_native_pacific_islander    float64
two_or_more                         float64
resource_officer                      int64
weapon                               object
weapon_source                        object
staffing                            float64
low_grade                            object
high_grade                           object
lunch                               float64
county                               object
ulocale                             float64
dtype: object

In [113]:
# Making sure categorical variables are classified correctly.
shootings_df[['shooter_deceased1', 'shooter_deceased2', 'resource_officer', 'ulocale']] = shootings_df[['shooter_deceased1', 'shooter_deceased2', 'resource_officer', 'ulocale']].astype(str)
# Making most quantitative variables floats for consistency.
shootings_df[['enrollment', 'killed', 'injured', 'casualties']] = shootings_df[['enrollment', 'killed', 'injured', 'casualties']].astype('float')

shootings_df.dtypes

school_name                          object
district_name                        object
date                                 object
school_year                          object
year                                  int64
time                                 object
day_of_week                          object
city                                 object
state                                object
school_type                          object
enrollment                          float64
killed                              float64
injured                             float64
casualties                          float64
shooting_type                        object
age_shooter1                        float64
gender_shooter1                      object
race_ethnicity_shooter1              object
shooter_relationship1                object
shooter_deceased1                    object
deceased_notes1                      object
age_shooter2                        float64
gender_shooter2                      object
race_ethnicity_shooter2              object
shooter_relationship2                object
shooter_deceased2                    object
deceased_notes2                      object
white                               float64
black                               float64
hispanic                            float64
asian                               float64
american_indian_alaska_native       float64
hawaiian_native_pacific_islander    float64
two_or_more                         float64
resource_officer                     object
weapon                               object
weapon_source                        object
staffing                            float64
low_grade                            object
high_grade                           object
lunch                               float64
county                               object
ulocale                              object
dtype: object

In [114]:
# Tidied up version of the table
shootings_df.head()

,school_name,district_name,date,school_year,year,time,day_of_week,city,state,school_type,enrollment,killed,injured,casualties,shooting_type,age_shooter1,gender_shooter1,race_ethnicity_shooter1,shooter_relationship1,shooter_deceased1,deceased_notes1,age_shooter2,gender_shooter2,race_ethnicity_shooter2,shooter_relationship2,shooter_deceased2,deceased_notes2,white,black,hispanic,asian,american_indian_alaska_native,hawaiian_native_pacific_islander,two_or_more,resource_officer,weapon,weapon_source,staffing,low_grade,high_grade,lunch,county,ulocale
uid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Columbine High School,Jefferson County R-1,4/20/1999,1998-1999,1999,11:19 AM,Tuesday,Littleton,Colorado,public,1965.0,13.0,21.0,34.0,indiscriminate,18.0,m,w,student,1.0,suicide,17.0,m,w,student,1.0,suicide,1783.0,16.0,112.0,42.0,12.0,NaN,NaN,1,12-gauge Savage-Springfield 67H pump-action sh...,purchased from friends,89.6,9,12,41.0,Jefferson County,21.0
2,Scotlandville Middle School,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,12:30 PM,Thursday,Baton Rouge,Louisiana,public,588.0,0.0,1.0,1.0,targeted,14.0,m,NaN,former student (expelled),0.0,NaN,NaN,NaN,NaN,NaN,nan,NaN,5.0,583.0,0.0,0.0,0.0,NaN,NaN,0,.22 caliber pistol,NaN,39.0,6,8,495.0,East Baton Rouge Parish,12.0
3,Heritage High School,Rockdale County,5/20/1999,1998-1999,1999,8:03 AM,Thursday,Conyers,Georgia,public,1369.0,0.0,6.0,6.0,indiscriminate,15.0,m,w,student,0.0,NaN,NaN,NaN,NaN,NaN,nan,NaN,1189.0,136.0,28.0,15.0,1.0,NaN,NaN,1,".22 caliber rifle, 357-caliber Magnum handgun",NaN,84.0,9,12,125.0,Rockdale County,21.0
4,John Bartram High School,Philadelphia City SD,10/4/1999,1999-2000,1999,10:00 AM,Monday,Philadelphia,Pennsylvania,public,3147.0,0.0,1.0,1.0,targeted,17.0,m,NaN,student,0.0,NaN,NaN,NaN,NaN,NaN,nan,NaN,209.0,2736.0,27.0,170.0,5.0,NaN,NaN,1,RG .25-caliber pistol,purchased from friend,41.0,9,12,2007.0,Philadelphia County,11.0
5,Dorchester High School,Boston,11/3/1999,1999-2000,1999,7:40 AM,Wednesday,Boston,Massachusetts,public,1116.0,0.0,1.0,1.0,targeted,NaN,m,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,nan,NaN,40.0,755.0,287.0,29.0,5.0,NaN,NaN,0,NaN,NaN,NaN,9,12,543.0,Suffolk County,11.0